<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Edad</ion-label>
      <ion-input type="number" [(ngModel)]="age"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Género</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-select-option value="male">Masculino</ion-select-option>
        <ion-select-option value="female">Femenino</ion-select-option>
        <ion-select-option value="other">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Peso (kg)</ion-label>
      <ion-input type="number" [(ngModel)]="weight"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="saveProfile()">Guardar Cambios</ion-button>
  </ion-list>
</ion-content>