.tab-button-active {
    color: #007bff; /* Cambia el color según tus necesidades */
    border-bottom: 2px solid #007bff; /* Añade un subrayado para indicar la pestaña activa */
    transition: color 0.3s, border-bottom 0.3s;
  }
  